html,body{
	height: 100% !important;
}
.navbar{
	border-radius: 0;
}

#wrap{
	min-height: 100%;
	margin-bottom: 0px;
}

.alert-ajax-start,
.alert-ajax-success{
	display: none;
}

footer{
	margin-top: -50px;
}